%section 
  %div{ :id => "center-container" }
    %div{ :id => "content-container" }
      - if @notice != nil
        %div{ :class => "notice-swiss-army-box"}
          %center
            %p= @notice
      %div{ :class => "dark-swiss-army-box"}
        %div{ :id => "issue-info-header" }
          %div{ :id => "issue-info-title" }
            = "#{@issue_name} Sucks!"
          %div{ :id => "vote-button" }
            - if session["upvoted_issues"] and session["upvoted_issues"][@issue.id] == "true"
              =link_to "VOTED", "#", :class => "content-button grayed-out"
            - else
              =link_to "VOTE", "/issue_info/#{@issue.id}?vote=true",  :class => "content-button"
          %div{ :id => 'dev-request' }
            =link_to "I AM A DEVELOPER", "#", :class => 'content-button'
        %p
          %br
          - if @issue.as_a == "" or @issue.as_a == nil
            = "As a user of " + @issue_name
          - else
            = "As a " + @issue.as_a
          %br
          = "So that " + @issue.so_that
          %br
          = "I want " + @issue.i_want
          %br
        %center
          %div{ :class => "progress" }
            %div{ :class => "progress-col left-round filled-in" }
              SUBMITTED
            - if @issue.get_progress == 'in progress' or @issue.get_progress == 'completed'
              %div{ :class => "progress-col filled-in" }
                IN PROGRESS
            - else
              %div{ :class => "progress-col" }
                IN PROGRESS
            - if @issue.get_progress == 'completed'
              %div{ :class => "progress-col right-round filled-in" }
                COMPLETED
            - else
              %div{ :class => "progress-col right-round" }
                COMPLETED
      %div{ :class => "swiss-army-box" }
        %div{ :class => "content-title" }
          Discussion
        %ul{ :id => "comments-list" }
          - if @comments != nil
            - @comments.each do |comment|
              %li
                %div{:class => 'c-name' }= comment.commentor_name
                - if comment.from_developer
                  %div{:class => 'c-dev' }= "developer"
                %div{:class => 'c-date' }= comment.date
                %div{:class => 'c-details' }= comment.details
        %center
          = form_tag({}, :id => "comments-form") do
            %div{ :class => 'nonexpanding' }
              = text_field :put, :commenter_name, :name => 'commenter-name', :placeholder => 'Name'
              = text_field :put, :developer_code, :name => 'developer-code', :placeholder => 'Developer Code, Optional'
            %div{ :class => 'expandingArea' }
              %pre
                %span
                %br
              = text_area :put, :comment_text, :name => 'comment-text', :placeholder => "Contribute to the discussion"
            = submit_tag "SUBMIT COMMENT", :id => 'submit_arrow'
          %br
  %div{ :id => "request-popup" }
    %div{ :id => "close-popup" }
      x
    %center
      %h2
        Request Pivotal Tracker Access
        = form_tag({}, :id => "dev-request-form") do
          = text_field :put, :name, :name => 'name', :placeholder => 'Name', :required => 'true'
          %br
          %br
          = text_field :put, :email, :name => 'email', :placeholder => 'Email', :type => 'email', :required => 'true'
          %br
          %br
          = text_field :put, :pid, :name => 'pid', :placeholder => 'Pivotal Tracker Id', :required => 'true'
          %br
          %br
          = submit_tag "REQUEST", :id => 'submit_arrow'
  %div{ :id => "overlay" }
