%section 
  %div{ :id => "center-container" }
    %div{ :id => "content-container" }
      %div{ :class => "dark-swiss-army-box"}
        %p
          %span
            = "#{@issue_name} Sucks!"
          %br
          %br
          - if @issue.as_a == "" or @issue.as_a == nil
            = "As a user of " + @issue_name
          - else
            = "As a " + @issue.as_a
          %br
          = "So that " + @issue.so_that
          %br
          = "I want " + @issue.i_want
          %br
        %center
          %div{ :class => "progress" }
            %div{ :class => "progress-col left-round filled-in" }
              SUBMITTED
            %div{ :class => "progress-col" }
              IN PROGRESS
            %div{ :class => "progress-col right-round" }
              COMPLETED
      %div{ :class => "swiss-army-box" }
        %div{ :class => "content-title" }
          Questions from the developer
        %center
          %br
          %p
            No developers have claimed this task yet...
          =link_to "I AM A DEVELOPER", "", :class => 'content-button'
          %p
            (Feature coming soon)
          %br
      %div{ :class => "swiss-army-box" }
        %div{ :class => "content-title" }
          Discussion
        %center
          = form_tag({:url => "/"}, :id => "comments-form", :method => :get) do
            // make this get for now so it doesn't generate error upon submission
            //= text_field :put, :comment_text, :name => 'comment-text', :placeholder => " Contribute to the discussion" 
            = text_field :get, :comment_text, :name => 'comment-text', :placeholder => " Contribute to the discussion" 
          %p 
            = "(Feature coming soon)"
          %br
