%section
  %div{ :id => "center-container" }
    %div{ :id => "content-container" }
      %div{ :id => "issues-table" }
        %div{ :id => "faux-th" }
          - if @issues != []
            %div{ :class => "col1" }
              - if @issues.size == 1
                %div= "#{@issue_name} sucks! Is this your issue?"
              - else 
                %div= "#{@issue_name} sucks! Are any of these your issue?"
            %div{ :class => "col2" }
              %center
                Date Added
            %div{ :class => "col3" }
              %center
                Votes
            - @issues.each do |issue|
              %a{ :href => "/issue_info/#{issue.id}" }
                %div{ :class => "faux-tr" }
                  %div{ :class => "col1" } 
                    - if issue.as_a == nil
                      %div= "As a user of #{issue.name}, I want #{issue.i_want} so that #{issue.so_that}"
                    - else
                      %div= "As a #{issue.as_a}, I want #{issue.i_want} so that #{issue.so_that}"
                  %div{ :class => "col2" }                  
                    %center= issue.date_entered.month.to_s + "/" + issue.date_entered.day.to_s + "/" + issue.date_entered.year.to_s
                  %div{ :class => "col3" }
                    %center= issue.votes
        %div{ :id => "faux-th-100" }
          - if @uservoice_tickets!= []
            %div{ :class => "col1" }
              &nbsp&nbsp&nbspHelp contribute to existing user issues
            - @uservoice_tickets.each do |ticket|
              %a{ :href => "/specific_issue/#{ticket.subject}?uservoice_url=#{ticket.url}" }
                %div{ :class => "faux-tr-100" }
                  %div{ :class => "col1" }
                    %div= "#{ticket.subject}"        
      %div{ :class => "swiss-army-box" }
        %div{ :class => "content-title" }
          - if @issues == []
            = "You're the first to have trouble with " + params[:issue_name] + ". Please create a new issue!"
          - else  
            Want to create a new issue for
            = params[:issue_name] + "?"
        %center
          =link_to "SUBMIT NEW ISSUE", "/specific_issue/" + params[:issue_name], :class => 'content-button'
