%section
  %div{ :id => "center-container" }
    %div{ :id => "content-container" }
      %div{ :id => "issues-table" }
        %div{ :id => "faux-th" }
          - if @issues != []
            %div{ :class => "col1" }
              &nbsp&nbsp&nbspIssues
            %div{ :class => "col2" }
              %center
                Date Added
            %div{ :class => "col3" }
              %center
                Votes
            - @issues.each do |issue|
              %a{ :href => "/issue_info/#{issue.id}" }
                %div{ :class => "issue-tr" }
                  %div{ :class => "col1" } 
                    - if issue.as_a == nil
                      %div= "As a user of #{issue.name}, I want #{issue.i_want} so that #{issue.so_that}"
                    - else
                      %div= "As a #{issue.as_a}, I want #{issue.i_want} so that #{issue.so_that}"
                  %div{ :class => "col2" }
                    %center= issue.date_entered.month.to_s + "/" + issue.date_entered.day.to_s + "/" + issue.date_entered.year.to_s
                  %div{ :class => "col3" }
                    %center= issue.votes  
