%section
  %div{ :id => "center-container" }
    %div{ :id => "content-container" }
      - if @uservoice_url != nil
        %div{ :class => "swiss-army-box" }
          %br
          %center
            = "#{@uservoice_ticket.subject}: #{@uservoice_ticket.body}"
          %br  
      %div{ :class => "swiss-army-box" }
        %div{ :class => "content-title" }
          = @issue_name + " sucks! Why? Help us fill out this sentence!"
        %center  
          = form_tag({}, :id => "user-story-form") do
            = label :issue, :name, "I want"
            = text_field :put, :want_text, :name => 'want-text', :required => 'true'
            %br
            %br
            = label :issue, :name, "so that"
            = text_field :put, :so_text, :name => 'so-text', :required => 'true'
            %br
            %br
            - if @uservoice_url != nil
              = hidden_field_tag "uservoice_url", @uservoice_url
            = submit_tag "SUBMIT", :id => 'submit_arrow'
      %div{ :class => "dark-swiss-army-box bottom-space" }
        %center
          %br
          %span= "Here are some samples to help you out!"
          %div{ :class => "examples" }
            I want to get internet access in Soda Hall, so that I can download lecture notes
            %br
            %br
            I want to be able to checkmark multiple files to download at one time, so that I can quickly download an entire semester's worth of lecture notes
            %br
            %br
            I want to view courses that satisfy my major and that are available, so that I can more easily create my first semester schedule
            %br
            %br
            I want Telebears to not crash, so that I can get into a class I need to graduate in four years
