%section
  %div{ :id => "center-container" }
    %div{ :id => "content-container" }
      %div{ :class => "swiss-army-box" }
        %div{ :class => "content-title" }
          = @issue_name + " sucks! Why? Help us fill out this sentence!"
        %center  
          = form_tag({}, :id => "user-story-form") do
            = label :issue, :name, "I want"
            = text_field :put, :want_text, :name => 'want-text', :required => 'true'
            %br
            %br
            = label :issue, :name, "so that"
            = text_field :put, :so_text, :name => 'so-text', :required => 'true'
            %br
            %br
            - if @uservoice_url != nil
              = hidden_field_tag "uservoice_url", @uservoice_url
            = submit_tag "SUBMIT", :id => 'submit_arrow'
