%header sucks.Berkeley
%section
  %div{ :id => "center-container" }
    %div{ :id => "tracking-box" }
      = @issue_name 
      Sucks!
    %div{ :id => "main-box" }
      = form_tag do
        = label :issue_action, "What were you doing when the problem occurred?", ''
        %br
        %br
        = text_area :put, :issue_action
        = submit_tag '', :id => 'submit_arrow'
