!!! 5
%html
  %head
    %title= "sucks.Berkeley"
    %meta{ :content => "", :name => "description" }
    %meta{ :content => "", :name => "author" }
  %body
    %header
      sucks.Berkeley
    %section
      %div{ :id => "mainbox" }
        = form_tag do
          = text_field :issue, ''
          = label :issue, :sucks!, ''
          = submit_tag ''
