%header sucks.Berkeley
%section
  %div{ :id => "center-container" }
    %div{ :id => "tracking-box" }
      = @issue_name
      %br
      %br
      Action: blah blah blah
      %br
      %br
      Goal: blah blah blah
    %div{ :id => "main-box" }
      %center 
        %p One Last Step!
        %br
        I am a
      = link_to "Student"
      = link_to "Professor"
      = link_to "Staff"
      %br 
      %br
      = form_tag do
        %center
          = label :identity, "(Doesn't describe you? Type something else)", '', :id => 'new-option'
        %br
        = text_field :put, :identity, :id => 'new-option-field'       
        = submit_tag '', :id => 'identity_submit'
