%section
  %div{ :id => "center-container" }
    %div{ :id => "tracking-box" }
      = @issue_name
      Sucks!
      %br
      %br
      What was I doing?
      %br
      = @issue_action
      %br
      %br
      What did I want to accomplish?
      %br
      = @issue_goal
    %div{ :id => "main-box" }
      %center
        %p One Last Step!
        %br
        I am a
        %br
        %br
        = button_to "Student", {:url => "http://#{request.host}:#{request.port.to_s}/identity/#{@issue_id}", :'what-text' => 'Student', :method => :post}, :id => 'student-identity', :class => 'id-button'
        = button_to "Professor", {:url => "http://#{request.host}:#{request.port.to_s}/identity/#{@issue_id}", :'what-text' => 'Professor', :method => :post}, :id => 'professor-identity', :class => 'id-button'
        = button_to "Staff", {:url => "http://#{request.host}:#{request.port.to_s}/identity/#{@issue_id}", :'what-text' => 'Staff', :method => :post}, :id => 'staff-identity', :class => 'id-button'
        %br 
        %br
        %center
          = label :identity, "(Doesn't describe you? Type something else)", '', :id => 'new-option'
        %br
        = form_tag do
          = text_field :put, :identity, :id => 'new-option-field', :name => 'what-text'       
          = submit_tag '', :id => 'submit-arrow'
