%section
  %div{ :id => "center-container" }
    %div{ :id => "tracking-box" }
      %span= @issue_name + " Sucks!"
      %br
      %br
      What was I doing?
      %br
      = @issue_action
      %br
      %br
      What did I want to accomplish?
      %br
      = @issue_goal
      %br
      %br
      Who am I?
      %br
      = @issue_identity
      %br
      %br
      = link_to "Submit Issue", issues_path, :id => 'submit-issue', :name => 'what-text'
