%section
  %div{ :id => "center-container" }
    %div{ :id => "tracking-box" }
      %span= @issue_name + " Sucks!"
      %br
      %br
      What was I doing?
      %br
      = @issue_action
    %div{ :id => "main-box" }
      = form_tag do
        = label :issue_goal, "What were you trying to accomplish?", ''
        %br
        %br
        = text_area :put, :issue_goal, :name => 'what-text'        
        = submit_tag '', :id => 'submit_arrow'
